body{
    background-color: rgb(61, 122, 122);
    background-image: url("https://hsc.unm.edu/ctsc/_media/logos/cg7.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.kep1{
    height: 10vh;
    
    
}
.container{
    margin-left: 200px;
    margin-right:200px;
}
.intro{
    text-indent: 15px;
    background-color: rgba(75, 80, 80, 0.8);
    color:white;
    padding: 20px;
    border-radius: 2%;
    border: solid 1px #000;
    margin-right: 7px;
}
.pic{
    height: 63vh;
    min-height: 100px;
    background-image: url("../../img/1.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:left;
    background-attachment: fixed;
    color:white;
    margin-left: 7px;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}

.kont{
    display: flex;
    flex-direction: row;
}   

.jobb_h{
    float: right;
    width: 50%;
}
.bal_h{
    float: left;
    width: 50%;
}
.genet{
    text-indent: 15px;
    background-color: rgba(75, 80, 80, 0.8);
    color:white;
    padding: 5px;
    border-radius: 2%;
    border: solid 1px #000;
    margin-top: 30px;
    padding: 20px;
    padding-top:0px;
}

.kont2{
    display: flex;
    flex-direction: row;
    background-color: rgba(75, 80, 80, 0.8);
    border-radius: 2%;
    border: solid 1px #000;
    margin-top: 30px;
    color:white;
    padding: 20px;
    margin-bottom: 30px;
}   
.ehgy_h2{
    text-align: center;
}
.nemehgy_h2{
    text-align: center;
}
.jobb_h2{
    float: right;
    width: 50%;
    border-right: solid 1px;
}
.bal_h2{
    float: left;
    width: 50%;
}

.intro h1{
    text-align: left;
}
