.ossz-kep0{
    height: 10vh;
    min-height: 100px;
}
.osszefoglalo-h{
    margin-right: 300px;
    margin-left: 300px;
    background-image: url("../../img/4.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.osszefoglalo{
    padding-bottom: 5px;
    
    background-color: rgba(68, 68, 67, 0.4);
    font-size: 110%;
    border: solid 1px;
    color:white;
}
.osszefoglalo h1{
    margin-left: 50px;
}

.osszefoglalo p{
    margin-left: 25px;
}
.osszefoglalo img{
    margin-left: 25px;
}
.valami{
    height: 20vh;
}
.kep{
    width: 30%;
}
.koszono-sz p:first-of-type{
    text-indent: 15px;
}

.koszono-sz{
    padding-left: 100px;
    padding-right: 100px;
}

.kozepre{
    text-align: left;
    margin-bottom: 40px;
}